body {
    margin: 0px auto;
    font-size: medium;
}

.header{
    text-align: center;
    padding: 12px;
    text-decoration: underline;
}

.nav-tabs{
    list-style: none;
    padding: 15px;
}
.nav-tabs li {
    display: inline;
}
.pull-right{
    margin-left: 80px;
    padding-top: 12px;
}

